<!--The content below is only a placeholder and can be replaced.-->
  
<nav>
<ul class="nav justify-content-end">
  
  <li class="nav-item">
    <a routerLink="/login" routerLinkActive="router-link-active" class="nav-link active" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a routerLink="/signup" routerLinkActive="router-link-active" class="nav-link" href="#">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Question</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About Us</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">@ScopeFrcscoutingApp</a>
  </li>
</ul>
</nav>

<router-outlet></router-outlet>


