<!--The content below is only a placeholder and can be replaced.-->
  
<nav>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a *ngIf="auth.isLoggedIn" routerLink="/home" routerLinkActive="router-link-active" class="nav-link active"
      href="#">Home</a>
  </li>
  <li class="nav-item">
    <a *ngIf="!auth.isLoggedIn" routerLink="/login" routerLinkActive="router-link-active" class="nav-link active" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a *ngIf="!auth.isLoggedIn" routerLink="/signup" routerLinkActive="router-link-active" class="nav-link" href="#">Sign Up</a>
  </li>
  <li class="nav-item">
    <a routerLink="/question" routerLinkActive="router-link-active" class="nav-link active" href="#">Question</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About Us</a>
  </li>
  
  <li class="nav-item">
    <a target="_blank" class="navbar-brand" href="https://github.com/robingan7/Scope" >
      <img src="https://frcscoutingapp.000webhostapp.com/assets/favicon.png" width="25" height="25" class="d-inline-block align-top" alt="icon">
      @Scope
    </a>
  </li>
</ul>
</nav>

<router-outlet></router-outlet>


